.download-app {
    display: flex;
    justify-content: space-around;
}

.download-links {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-links * {
    padding: 5px;
}

.img-links img {
    width: 129px;
    height: 41px;
}

.img-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#phone-app-pictures {
    margin-top: -30px;
    position: relative;
    z-index: -1;
}

div.download-links p {
    font-weight: 200;
}