footer {
    background-color: #1d1d1d;
}

.footer-sections {
    display: grid;
    place-items: left;
    align-items: baseline;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.together-footer,
.int-links,
.follow-us,
.footer-download {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 50px;
}

footer h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}

.footer-logo {
    margin-left: 50px;
}

#footer-curve {
    width: 100%;
    position: relative;
    object-fit: cover;
    margin-bottom: -6px;
    margin-top: -50px;
}

.language-select {
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 40px;
}

#lang-input {
    width: 246px;
    height: 47px;
    background-color: #303030;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 20px
}